
                    <div class="wt-author">
                      <div class="wt-authordetails">
                        <figure>
                          <a href="javascript:void(0);"
                            ><img
                              src="images/author/img-02.jpg"
                              alt="image description"
                          /></a>
                        </figure>
                        <div class="wt-authorcontent">
                          <div class="wt-authorhead">
                            <div class="wt-boxleft">
                              <h3>
                                <a href="javascript:void(0);"></a>
                              </h3>
                              <span>01 Min Ago</span>
                            </div>
                            <div class="wt-boxright">
                              <a class="wt-btnreply" href="javascript:void(0);"
                                ><span class="wt-clickreply"
                                  >Click To Reply</span
                                ><i class="fa fa-mail-reply"></i
                              ></a>
                            </div>
                          </div>
                          <div class="wt-description">
                            <p>
                              {{ comment.body }}
                            </p>
                            
                          </div>
                        </div>
                      </div>
                    </div>
                    
     