<section class="wt-haslayaout wt-main-section wt-footeraboutus">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                <div class="wt-widgetskills">
                    <div class="wt-fwidgettitle">
                        <h3>By Skills</h3>
                    </div>
                    <ul class="wt-fwidgetcontent">
                        <li><a href="javascript:void(0);">Software Engineer</a></li>
                        <li><a href="javascript:void(0);">Technical Writer</a></li>
                        <li><a href="javascript:void(0);">UI Designer</a></li>
                        <li><a href="javascript:void(0);">UX Designer</a></li>
                        <li><a href="javascript:void(0);">Virtual Assistant</a></li>
                        <li><a href="javascript:void(0);">Web Designer</a></li>
                        <li><a href="javascript:void(0);">Wordpress Developer</a></li>
                        <li><a href="javascript:void(0);">Content Writer</a></li>
                        <li class="wt-viewmore"><a href="javascript:void(0);">+ View All</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                <div class="wt-widgetskill">
                    <div class="wt-fwidgettitle">
                        <h3>Skills </h3>
                    </div>
                    <ul class="wt-fwidgetcontent">
                        <li><a href="javascript:void(0);">HTML Developers </a></li>
                        <li><a href="javascript:void(0);">HTML5 Developers </a></li>
                        <li><a href="javascript:void(0);">JavaScript Developers </a></li>
                        <li><a href="javascript:void(0);">Microsoft Word Experts </a></li>
                        <li><a href="javascript:void(0);">PowerPoint Experts </a></li>
                        <li><a href="javascript:void(0);">Social Media Marketers </a></li>
                        <li><a href="javascript:void(0);">WordPress Developers </a></li>
                        <li><a href="javascript:void(0);">Writers </a></li>
                        <li class="wt-viewmore"><a href="javascript:void(0);">+ View All</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                <div class="wt-footercol wt-widgetcategories">
                    <div class="wt-fwidgettitle">
                        <h3>By Categories</h3>
                    </div>
                    <ul class="wt-fwidgetcontent">
                        <li><a href="javascript:void(0);">Graphics &amp; Design</a></li>
                        <li><a href="javascript:void(0);">Digital Marketing</a></li>
                        <li><a href="javascript:void(0);">Writing &amp; Translation</a></li>
                        <li><a href="javascript:void(0);">Video &amp; Animation</a></li>
                        <li><a href="javascript:void(0);">Music &amp; Audio</a></li>
                        <li><a href="javascript:void(0);">Programming &amp; Tech</a></li>
                        <li><a href="javascript:void(0);">Business</a></li>
                        <li><a href="javascript:void(0);">Fun &amp; Lifestyle</a></li>
                        <li class="wt-viewmore"><a href="javascript:void(0);">+ View All</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                <div class="wt-widgetbylocation">
                    <div class="wt-fwidgettitle">
                        <h3>By Location</h3>
                    </div>
                    <ul class="wt-fwidgetcontent">
                        <li><a href="javascript:void(0);">Sousse</a></li>
                        <li><a href="javascript:void(0);">Tunis</a></li>
                        <li><a href="javascript:void(0);">Sfax</a></li>
                        <li><a href="javascript:void(0);">Gabes</a></li>
                        <li><a href="javascript:void(0);">Mahdia</a></li>
                        <li><a href="javascript:void(0);">Nabeul</a></li>
                        <li><a href="javascript:void(0);">Bizerte</a></li>
                        <li><a href="javascript:void(0);">Jandouba</a></li>
                        <li class="wt-viewmore"><a href="javascript:void(0);">+ View All</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>